<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pc.dao.UserDao">
    <sql id="BASE_TABLE">
        t_user
    </sql>
<insert id="insert" parameterType="com.pc.entity.User">
    insert into
    <include refid="BASE_TABLE"></include>
    <trim prefix="(" suffix=")" suffixOverrides=",">
        username,password,
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides=",">
      #{username},#{password},
    </trim>
</insert>
</mapper>